<a href="https://colab.research.google.com/github/EloneSampaio/data_science/blob/master/previsao_de_venda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exemplo pra entender regressão

##Previsão de Vendas com Machine Learning

In [8]:
## Importando as bibliotecas necessárias.
import pandas as pd
from pandas import Series,DataFrame
from sklearn.model_selection import train_test_split
import numpy as np

Carregando os dados.

In [9]:
df=pd.read_csv('/content/drive/My Drive/DataAnalise/produtos_venda.csv')

In [10]:
df.head().T

                                           0  ...                  4
Item_Identifier                        FDA15  ...              NCD19
Item_Weight                              9.3  ...               8.93
Item_Fat_Content                     Low Fat  ...            Low Fat
Item_Visibility                    0.0160473  ...                  0
Item_Type                              Dairy  ...          Household
Item_MRP                             249.809  ...            53.8614
Outlet_Identifier                     OUT049  ...             OUT013
Outlet_Establishment_Year               1999  ...               1987
Outlet_Size                           Medium  ...               High
Outlet_Location_Type                  Tier 1  ...             Tier 3
Outlet_Type                Supermarket Type1  ...  Supermarket Type1
Item_Outlet_Sales                    3735.14  ...            994.705

[12 rows x 5 columns]

#Vamos selecionar apenas 3 atributos (variáveis).

Outlet_Establishment_Year – Ano do estabelecimento.

Item_MRP – Volume em estoque do produto.

Item_Outlet_Sales – Volume de vendas ( o que queremos prever)

Nossas variáveis de entrada serão: Outlet_Establishment_Year e Item_MRP. O Item_Outlet_Sales será nossa variável de saída.

In [11]:
X=df[['Item_MRP','Outlet_Establishment_Year']]
y=df['Item_Outlet_Sales']

In [12]:
x_train,x_test,y_train,y_test= train_test_split(X,y,test_size=0.3)

Separando os dados  de treino e teste

In [13]:
x_train.shape, y_train.shape

((5966, 2), (5966,))

#Aqui começaremos a implementação do algoritmo de machine learning

Instanciando a Regressão Linear

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
linear_regression= LinearRegression()

Processo para Treinando o modelo

In [16]:
linear_regression.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Predizendo os valores para o conjunto de teste

In [17]:
predict=linear_regression.predict(x_test)

#Calculando o MSE (Mean Square Error)

É a média do quadrado da diferença entre os valores originais e os valores previstos.

In [18]:
mse= np.mean((predict - y_test)**2)

In [19]:
mse

2025505.0795135896

#Calculando os Coeficientes

São os pesos atribuídos ao atributos(colunas) para calcular o valor predito.

In [20]:
coeficientes = DataFrame(x_train.columns)

In [21]:
coeficientes['Coeficientes'] = Series(linear_regression.coef_)

In [22]:
coeficientes

                           0  Coeficientes
0                   Item_MRP     15.430110
1  Outlet_Establishment_Year     -8.777215

#Calculando o r-squared

É uma medida estatística de quão próximo os dados estão da linha de regressão. Varia entre 0 e 1, indicando percentualmente, o quanto o modelo consegue explicar os valores observados.

In [23]:
linear_regression.score(x_test,y_test)

0.3350011296653629

##Agora vamos acrescentar mais variáveis no nosso exemplo.

Adicionaremos o Item_Weight no nosso dataFrame

# Vamos preencher os valores faltantes dessa coluna com a média.

# Verificando e tratando registros nulos.

Primeiro vamos tratar os missing values( valores e nulos e NAN

In [24]:
df['Item_Weight'].fillna( ( df['Item_Weight'].mean() ), inplace=True)

##Fazemos agora novamente o mesmo processo anterior

Selecionando  os 3 atributos

In [25]:
X = df.loc[:,['Outlet_Establishment_Year','Item_MRP','Item_Weight']]
y= df['Item_Outlet_Sales']

Separando os conjuntos de treino e teste

In [26]:
x_train, x_test, y_train,y_test = train_test_split(X,df.Item_Outlet_Sales,test_size=0.3)

Treinado novamente o modelo

In [27]:
linear_regression.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Executando a predição e calculando o MSE

In [28]:
predict = linear_regression.predict(x_test)

In [29]:
mse = np.mean((predict - y_test)**2)

In [30]:
mse

2002563.0700041968

# Verificando os coeficientes.

In [31]:
coeficiente = DataFrame(x_train.columns)
coeficiente['Coeficientes']= Series(linear_regression.coef_)

In [32]:
coeficiente

                           0  Coeficientes
0  Outlet_Establishment_Year     -7.659755
1                   Item_MRP     15.234208
2                Item_Weight     -2.651972

##Calculando o r-squared

In [33]:
linear_regression.score(x_test,y_test)

0.3377950635270245

## E se quisermos adicionar mais atributos a nossa regressão linear? É Só adicionar no dataFrame e verificar se aqueles atributos são úteis pra explicar nossa problema

#Adiconando atributos do tipo string em regressão linear

```
# Isto está formatado como código
```

Pré-processamento nos dados para aplicar a Regressão

Tratando Missing Values (Valores em falta)

In [34]:
# Substituir os valores iguais a 0 pela média.
df['Item_Visibility'] = df['Item_Visibility'].replace(0,np.mean(df['Item_Visibility']))

# Substituindo os valores pela quantidade de anos que a loja tem.
df['Outlet_Establishment_Year'] = 2013 - df['Outlet_Establishment_Year']

#  Para todos os valores faltantes desse coluna, vamos preencher com ‘Small’ (pequena).
df['Outlet_Size'].fillna('Small',inplace=True)

Como a regressão só trabalha com dados numéricos, precisamos fazer a transformação das variáveis categóricas.(com letras)

Métodos para transformar essas variáveis em valores numéricos:

LabelEncoder – Atribui um valor para cada uma das variáveis, a desvantagem é que gera uma ordem que na verdade não existe.

OneHotEncoder – Atribui valores binários para cada variável, a desvantagem é que gera uma matriz esparsa (quando possui uma grande quantidade de elementos que valem zero).

Você precisa analisar e testar cada uma dessas técnicas de acordo com o seu cenário.

##Importando o LabelEncoder

In [35]:
from sklearn import preprocessing

In [36]:
le= preprocessing.LabelEncoder()

##Criação de uma **Função** para aplicar o LabelEncoder em cada atributo

In [37]:
 def generate_labelEncoder(atributos):
      for atributo in atributos:
         df[atributo] = le.fit_transform(df[atributo])
      return df;

In [38]:
df= generate_labelEncoder(['Item_Fat_Content','Item_Type','Outlet_Identifier','Outlet_Size','Outlet_Location_Type','Outlet_Type'])

In [40]:
df.head().T

                                   0          1          2         3         4
Item_Identifier                FDA15      DRC01      FDN15     FDX07     NCD19
Item_Weight                      9.3       5.92       17.5      19.2      8.93
Item_Fat_Content                   1          2          1         2         1
Item_Visibility            0.0160473  0.0192782  0.0167601  0.066132  0.066132
Item_Type                          4         14         10         6         9
Item_MRP                     249.809    48.2692    141.618   182.095   53.8614
Outlet_Identifier                  9          3          9         0         1
Outlet_Establishment_Year         14          4         14        15        26
Outlet_Size                        1          1          1         2         0
Outlet_Location_Type               0          2          0         2         2
Outlet_Type                        1          2          1         0         1
Item_Outlet_Sales            3735.14    443.423    2097.27    732.38   994.705

Excluindo os atributos identificador do item e quantidade de vendas
 porque não usaremos

In [42]:
X=df.drop(['Item_Identifier','Item_Outlet_Sales'], axis=1)

In [43]:
x_train,x_test,y_train,y_test = train_test_split(X,df.Item_Outlet_Sales, test_size=0.3)

Treinando o modelo com os atributos selecionados e transformados

In [44]:
linear_regression.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Realizando a predição e calculando as métricas

In [46]:
predict=linear_regression.predict(x_test)

MSE

In [48]:
mse = np.mean((predict-y_test)**2)

In [49]:
mse

1467185.5768593368

In [50]:
linear_regression.score(x_test,y_test)

0.5042646432958688